:root{
    --primary-color: #8e44ad
}

body{
    margin: 0px;
}

section{
    height: 24%;
}

.back-button{
    display: none;
}

.page{
    display: none;
}

.selection{
    display: flex;
}


header{
    background: var(--primary-color);
    padding: 10px;
    display: flex;
    font-family: 'Arial', serif;
    font-weight: 600;
    height: 40px;
    color: white;
    font-size: 0.9em;
}

header div{
    margin-left: 15px;
    cursor: pointer;
}

header .active {
    color: black;
}

.page .form label{
    font-size: 0.8em;
    margin-top: 10px;
    font-family: 'Arial';
    font-weight: bold;
}

.page .form .btn{
    background: var(--primary-color);
    color: white;
}

.page#selection{
    flex-direction: column;
}

.page#encrypt{
    flex-direction: column;
}

.status{
    width: 100%;
    height: 100px;
    margin-left: 20px;
}

.status .log{
    background: #e2e2e2;
    margin-left: 10px;
    height: calc(70vh - 100px);
}

.logger li{
    margin-top: 20px;
}

.disable-select{
     user-select: none; /* supported by Chrome and Opera */
   -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
   -moz-user-select: none; /* Firefox */
   -ms-user-select: none; /* Internet Explorer/Edge */
}
